<%- include('partials/header') %>
    <div class="main-heading" style="display: inline;">
        <h1 style="font-size: 60px;">We help find your articles,</h1><br>
        <h1 style="font-size: 60px;"> for your ease of search</h1>
    </div>
    
    

    <div class="informations-div">
        <h1 class="heading">What We Provide</h1>
        <div class="row">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title" style="margin-bottom: 20px;"><a href="/extract" class="href">Extract Keywords</a></h3>
                    <br>
                    <p>Extract Keywords from an <br>article using monkeylearn,<br> the state of the art keyword extractor!</p>
                    <br>
                    <a href="/extract" class="btn btn-primary">Extract Now!</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title"><a href="/find-with-phrase" class="href">Find Articles Using keyword</a></h3>
                    <br>
                    <p>Find Articles by entering some phrases and we will send multiple different articles which are containing those phrases</p>
                    <br>
                    <a href="/find-with-phrase" class="btn btn-primary">Find Now!</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title"><a href="/find-with-topic" class="href">Find Articles with Similar Topic</a></h3>
                    <br>
                    <p>Paste in the URL link of the article at hand and we will send multiple different articles which are of the same topic</p>
                    <br>
                    <a href="/find-with-topic" class="btn btn-primary">Find Articles Now!</a>
                </div>
            </div>
        </div>
    </div>




<%- include('partials/footer') %>